@import '~antd/dist/antd.less';
@import '~easymde/dist/easymde.min.css';
// @import '~antd/es/style/themes/index';
// @import '~antd/es/style/mixins/index';

body {
  font-family: Chinese Quote,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.user-button-popover .ant-popover-inner-content {
  padding: 0;
}

.creatorsdaily {
  #__next {
    height: 100%;
    > .ant-layout {
      overflow: hidden;
    }
  }
  @menu-prefix-cls: ~'ant-menu';
  .@{menu-prefix-cls} {
    &-horizontal {
      border-bottom: 0;
      > .@{menu-prefix-cls}-item {
        // padding: 0;
        margin: 0;
        margin-right: 24px;
        border-bottom: 0 !important;
        &-open,
        &-selected {
          font-weight: bold;
        }
      }
      .@{menu-prefix-cls}-item-active {
        border-bottom: 0 !important;
      }
    }
  }
  .ant-back-top {
    width: 32px;
    height: 32px;
    bottom: 48px;
    right: 48px;
  }
  .ant-tooltip {
    font-size: 12px !important;
  }
  .preview-modal {
    .ant-modal-confirm-body-wrapper {
      align-items: center;
      display: flex;
      flex-direction: column;
    }
    .ant-modal-confirm-content {
      margin: 0;
    }
    .ant-modal-confirm-btns {
      display: none;
    }
    img {
      max-width: 100%;
    }
  }
  .ant-divider-horizontal {
    .ant-divider-inner-text {
      font-size: 12px;
    }
  }
  .ant-result-subtitle {
    margin: 0 40px;
  }
  .ant-pagination-item-ellipsis {
    color: rgba(0, 0, 0, 0.55) !important;
  }
  .ant-modal-wrap, .ant-modal-body {
    overflow-x: hidden;
  }
  .ant-carousel .slick-prev, .ant-carousel .slick-next {
    height: 100px;
    margin-top: -50px;
    width: 40px;
    z-index: 1;
    background: rgba(0,0,0,0.1);
    transition: background 0.3s;
    border-radius: 3px;
    &:hover {
      background: rgba(0,0,0,0.4);
    }
    &::before {
      font-size: 20px;
      color: #FFF;
      background-size: 70%;
      content: ' ';
      height: 40px;
      width: 40px;
      display: block;
      background-position: center;
      background-repeat: no-repeat;
      opacity: 0.6;
    }
  }
  .ant-carousel .slick-prev {
    left: 25px;
    &::before {
      background-image: url(/icons/left.svg);
    }
  }
  .ant-carousel .slick-next {
    right: 25px;
    &::before {
      background-image: url(/icons/right.svg);
    }
  }
}
